body{
    background-color: rgb(107, 170, 89);
    width: 100%;
    height: 100%;
    margin: 0px;;
}
main{
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    transform: translate(240px,80px);
}
.Form{
    width: 400px;
    height: 500px;
    /* border: 3px solid blue; */
}
label{
    width: 200px;
    background-color: rgb(42, 102, 180);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    border: 2px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}
#add{
    transform: translate(0px,-60px);
}
#small{
    width: 100px;
}
.head{
    width: 100%;
    height: 80px;
    border: 3px solid black;
    background-color: rgb(56, 135, 209);
    margin: 5px;
}
#head2{
    background-color: red;
    height: 40px;
}
#head1{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: white;
}
